* {
    margin: 0l;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
    background: #0a0a0a;
    color: #fff;
}

.secao{
    padding: 100px 0px;
    padding-left: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    padding: 30px;
    border-bottom: 1px solid #222;
}


ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

ul a{
    color: #00ff88;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

ul a:hover{
    color: #2bfc18;
    transform: translateY(-5px);
}

.principal{
    display: flex;
    align-items: center;
    margin-left: 30px;
    min-height: 85vh;
}

.principal h1{
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: -4px;
}

.principal h1 span{
    color: #00ff88
}

.principal p {
    font-size: 20px;
    max-width: 500px;
    color: antiquewhite;
    margin-bottom: 40px;
}

.botaoProjetos{
    display: inline-block;
    padding: 15px 30px;
    background-color: #00ff88;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
}

.titulo-secao{
    font-size: 42px;
    margin-bottom: 60px;
    position: relative;
}
.titulo-secao::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100px;
    height: 4px;
    background-color: #00ff88;
    border-radius: 20px;
}

.grade-projetos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.img-projeto{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.info-projeto{
    padding: 20px;

}

.card-projeto{
    background-color: #161616;
    border-radius: 10px;
    overflow: hidden;
}

.info-projeto h3{
    color: #00ff88;
    margin-bottom: 10px;
}
.info-projeto p{
    color: #bbb;
    margin-bottom: 10px;
}
.info-projeto a{
    color: #00ff88;
    margin-bottom: 10px;
    font-weight: 500px;
}

.sobre{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    max-width: 1200px;
}

.img-sobre{
    height: 500px;
    background-color: #161616;
    border-radius: 15px;
}
.conteudo-sobre h2{
    margin-bottom: 30px;
}

.conteudo-sobre p{
    margin-bottom: 20px;
    color: #bbb;
}

.habilidades{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.tag-habilidades{
    background-color: #3a46f11f;
    color: #00ff88;
    padding: 8px 15px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}


.botoes-contato{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.botao-contato{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    border-radius: 15px;
    font-weight: 500;
    min-width: 160px;
    text-decoration: none;
    color: white;
}

.botao-contato-whatsapp{
    background-color: #25d366;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    border-radius: 15px;
    font-weight: 500;
    min-width: 160px;
    text-decoration: none;
    color: white;
}

.botao-contato-email{
    background-color: #EA4335;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    border-radius: 15px;
    font-weight: 500;
    min-width: 160px;
    text-decoration: none;
    color: white;
}

.botao-contato-linkedin{
    background-color: #0077B5;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    border-radius: 15px;
    font-weight: 500;
    min-width: 160px;
    text-decoration: none;
    color: white;
}

.botao-contato-github{
    background-color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    border-radius: 15px;
    font-weight: 500;
    min-width: 160px;
    text-decoration: none;
    color: white;
}

footer{
    padding: 20px 5%;
    text-align: center;
    border-top: 1px solid #222;
}

.efeito-cursor:hover{
    transform: translateY(-10px);
}
.efeito-cursor{
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.cursor{
    pointer-events: none;
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3a46f15e;
    z-index: 99;
    transform: translate(-50%, -50%);
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px){
    
    header{
        padding: 0px;
    }

    ul{
        gap: 20px;
        justify-content: flex-start;
    }

    .secao{
        padding: 60px 20px;
    }

    .principal h1{
        font-size: 60px;
    }

    .sobre{
        grid-template-columns: 1fr;
    }

    .img-sobre{
        height: auto;
    }
}